@media (max-width:1289px) {
    
}
@media (max-width:1024px) {
    #header{
        position: relative;
        height: 100vh;
        .naving{
            opacity: 0;
        }
        .social{
            position: absolute;
            top: 1rem;
            right: 2rem;
        }
    }
    #carouselExampleIndicators{
        height: 100%;
    }
}
@media (max-width:767px) {
    .hero{
        position: relative;
        .row{
            padding:0 0 ;
        }
    }
}
@media (max-width:480px) {
    
}