*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Work Sans', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    position: relative;
}
#header{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    nav{
        position: relative;
        z-index: 999;
        border-top: 5px solid red;
    }
    a{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        transition: all ease-in-out 0.4s;
        font-size: 14px;
    }
    a:hover{
        color: red;
    }
    .side-bar-div img{
        width: 60px;
        cursor: pointer;
    }
    .side-bar a{
        color: #000;
        transition:  all ease-in 0.4s;
    }
    .side-bar a:hover{
        color: red;
    }
}
#carouselExampleIndicators{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    img{
        object-fit: cover;
        object-position: center;
    }
    .cara-text {
        position: absolute;
        top:10rem ;
        left: 23%;
        display: block;
        a{
            background: #fff;
            color: red;
            border-radius: 1rem;
            border: 1px solid red;
            width: 20%;
            transition: all linear 0.4s;
        }
        a:hover{
            background: red;
            color: #fff;
        }
        h3{
            font-size: 4rem;
            color:#fff;
        }
        h1{
            color: #fff;
            font-size: 7rem;
        }
    }
}
.hero{
    position: relative;
    .row{
        padding: 8rem 0;
    }
    .row a{
        color: #000;
        transition:all linear 0.4s;
    }
    .row a:hover{
        color: red;
    }
    .h1{
        font-size: 4vw ;
        letter-spacing: 4px;
    }
    .img_our{
        width: 80%;
        height: 100%;
        border-radius: 1rem;overflow: hidden;
    }
    .img_our img:hover{
        transition: all ease-in-out 0.4s;
        transform: scale(1.2);
    }
}
.discover{
    width: 100%;
    height: 50vh;
    background: url(/images/bg_img/bg-intro-01.jpg.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.food_court{
    position: relative;
    .card{
        border-radius: 1rem;
        overflow: hidden;
        border: none;
    }
    .card img{
        border-radius: 1rem;
        overflow: hidden;
        transition: all ease-in-out 0.4s;
    }
    .card img:hover{
        transform: scale(1.1);
    }
    .card .a{
        font-size: 1.6vw;
    }
    .card a{
        color: #000;
        transition: all linear 0.4s;
    }
    .card a:hover{
        color: red;
    }
}
.our_menu{
    position: relative;
    background: #F5F2EC;
    .menu-div{
        width: 50%;
        height: 100%;
        border-radius: 1rem;
        overflow: hidden;
    }
    .row-2{
        overflow: hidden;
        border-radius: 1rem;
    }
    img{
        transition: all linear 0.4s;
    }
    img:hover{
        transform: scale(1.09);
    }   
    a{
        font-size: 1.5rem;
        background: #ffffffc7;
        color: #000;
        border-radius: 1rem;
        transition:  all ease-in-out 0.4s;
    }
    a:hover{
        background: red;
        border: 1px solid red;
        color: white;
    }
    .row-2 img{
        border-radius: 1rem;
        overflow: hidden;
        object-fit: cover;
        object-position: top;
    }
}
.events{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
    .event{
        position: relative;
        z-index: 999;
    }
    .fst-main{
        position: absolute;
        top: 12rem;
        z-index: 99999;
        width: 85%;
        height: 60vh;
        border-radius: 1rem;
        overflow: hidden;
    }
    .fst{
        a{
            text-align: center;
            font-size: 0.88rem;
            padding: 1em 1rem;
        writing-mode: vertical-lr;
        margin-left:-13px;
        } 
    }
    .fst-2 img{
        object-fit: cover;
        object-position: center;
    }
    .col-a a{
        color: #000;
        transition: all ease-in 0.3s;
    }
    .col-a a:hover{
        color: red;
    }
}